#!/bin/bash
#
#

# MYSQL SET
# + get mysql temporary password
MYSQL57_ROOT_TMP_PWD=$(grep "A temporary password" /var/log/mysqld.log |awk '{print $NF}')
# + update mysql root password and create user gogs and grant
# MYSQL_PWD=${MYSQL57_ROOT_TMP_PWD} mysql -u root --connect-expired-password -e "ALTER USER 'root'@'{{ db_host }}' IDENTIFIED BY '{{ db_root_password }}';"

MYSQL_PWD=${MYSQL57_ROOT_TMP_PWD} mysql -u root --connect-expired-password < /root/mysql_gogs_init.sql
# MYSQL_PWD=${MYSQL57_ROOT_TMP_PWD} mysql -u root < /root/mysql_gogs_init.sql



