-- update root password
ALTER USER 'root'@'{{ db_host }}' IDENTIFIED BY '{{ db_root_password }}' ;

-- create user gogs and grant
GRANT ALL ON {{ db_gogs_dbname }}.* TO '{{ db_gogs_user }}'@'{{ db_host }}' IDENTIFIED BY '{{ db_gogs_password }}';

-- create database {{ db_gogs_dbname }}
DROP DATABASE IF EXISTS {{ db_gogs_dbname }};
CREATE DATABASE IF NOT EXISTS {{ db_gogs_dbname }} CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;


-- flush
flush privileges;